{% load static %}
{% load cart_template_tags %}
{% load category_template_tags %}

<style>
    .topbar {
        background-color: #007bff;
        color: white !important;
    }

    .topbar a, .topbar span, .topbar .selection-1 {
        color: white !important;
    }

    .header1 .main_menu > li > a, .header1 .logo p {
        color: black !important;
    }


    
   
    
    /* For screens smaller than 576px (Bootstrap's extra-small breakpoint) */
    @media (max-width: 576px) {
        .logo-img {
            width: 100px;  /* Further increase the size for smaller phones */
            height: 200px;
        }
    }
    


</style>

<!-- Header -->
<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                <a href="#" class="topbar-social-item fab fa-facebook"></a>
                <a href="#" class="topbar-social-item fab fa-instagram"></a>
                <a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
                <a href="#" class="topbar-social-item fab fa-twitter"></a>
                <a href="#" class="topbar-social-item fab fa-youtube"></a>
            </div>

            <div class="topbar-child1">
                <form class="form-inline" action="/search/" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

            <div class="topbar-child2">
                <span class="topbar-email">
                    <a href="mailto:nanabrightatsiatorme@gmail.com" style="color: white;">ecstada@gmail.com</a>
                </span>
                
                {% if user.is_authenticated %}
                <span class="flex items-center text-sm bg-gray-800 text-white rounded-full py-2 px-3 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                    {{ user.username }}
                </span>

                {% endif %}
                <a href="{% url 'core:user-profile' %}" >
                    <img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1 ml-2" style="filter: brightness(0) invert(1);" alt="ICON">
                </a>
            </div>
        </div>

        <div class="wrap_header">
            <!-- Logo -->
            <a href="/" class="logo">
                <p style="color: white;"><b style="font-size: 22px;">E</b>CSTADA </p>
            </a>

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop/">Shop</a></li>
                        {% categories %}
                        <li>
                            <div class="header-wrapicon2">
                                <a href="{% url 'core:order-summary' %}">
                                    <img src="{% static 'images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
                                    <span class="header-icons-noti">{{ request|cart_item_count }}</span>
                                </a>
                            </div>
                           
                        </li>
                        {% if request.user.is_authenticated %}

                        <li>
                            
                            <a href="{% url 'core:my-orders' %}">
                                Ordered
                            </a>
                        </li>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
                        </li>
                        {% else %}
                        <li >
                            <a >Login</a>
                            <ul class="sub_menu">
                                <li><a href="{% url 'core:signin' %}">Login</a></li>
                                <li><a href="{% url 'core:register' %}">SignUp</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <a href="/" class="logo-mobile">
            <img src="{% static 'images/icons/ecstadaaa.png' %}" alt="IMG-LOGO" class="img-fluid logo-img">
        </a>
        

        <div class="btn-show-menu">
            <div class="header-icons-mobile">
                <a href="{% url 'core:user-profile' %}" class="header-wrapicon1 dis-block">
                    <img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
                </a>
                <span class="linedivide2"></span>
                <div class="header-wrapicon2">
                    <img src="{% static 'images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">{{ request|cart_item_count }}</span>
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            {% if cart_items %}
                                {% for item in cart_items %}
                                <li class="header-cart-item">
                                    <div class="header-cart-item-img">
                                        <img src="{{ item.item.image.url }}" alt="IMG">
                                    </div>
                                    <div class="header-cart-item-txt">
                                        <a href="{% url 'core:product' slug=item.item.slug %}" class="header-cart-item-name">{{ item.item.title }}</a>
                                        <span class="header-cart-item-info">{{ item.quantity }} x GHc{{ item.item.price }}</span>
                                    </div>
                                </li>
                                {% endfor %}
                                <li class="header-cart-item">
                                    <div class="header-cart-item-txt">
                                        <span><b>Order Total :</b> GHc{{ total_price }}</span>
                                    </div>
                                </li>
                            {% else %}
                                <li class="header-cart-item">
                                    <div class="header-cart-item-txt">
                                        <span>Your cart is empty</span>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <a href="{% url 'core:order-summary' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">View Cart</a>
                            </div>
                            <div class="header-cart-wrapbtn">
                                <a href="{% url 'core:checkout' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">Check Out</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    </div>

<!-- Logout Confirmation Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to log out?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{% url 'core:logout' %}" class="btn btn-danger">Yes, Logout</a>
        </div>
      </div>
    </div>
  </div>
  


    <!-- Menu Mobile -->
    <div class="wrap-side-menu">
        <nav class="side-menu">
            <ul class="main-menu">
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <span class="topbar-child1">Free delivery for standard order over ₵1000</span>
                </li>
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <div class="topbar-child2-mobile">
                        <span class="topbar-email">
                            <a class="topbar-email" href="mailto:nanabrightatsiatorme@gmail.com">ecstada@gmail.com</a>
                        </span>
                    
                    </div>
                </li>
                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a href="#" class="topbar-social-item fab fa-facebook"></a>
                        <a href="#" class="topbar-social-item fab fa-instagram"></a>
                        <a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
                        <a href="#" class="topbar-social-item fab fa-youtube"></a>
                    </div>
                </li>
                <li class="item-menu-mobile"><a href="/">Home</a></li>
                <li class="item-menu-mobile"><a href="/shop">Shop</a></li>
                {% categories_mobile %}
                {% if request.user.is_authenticated %}
                {% comment %} <li class="item-menu-mobile">
                    <a href="{% url 'core:order-summary' %}">Cart<span class="badge badge-dark">{{ request|cart_item_count }}</span></a>
                </li> {% endcomment %}
                <li class="item-menu-mobile">
                    <a href="{% url 'core:my-orders' %}">
                        Ordered
                    </a>
                </li>
                <li class="item-menu-mobile"><a href="{% url 'core:logout' %}">Logout</a></li>
                {% else %}
                <li class="item-menu-mobile">
                    <a>Login</a>
                    <ul class="sub-menu">
                        <li class="item-menu-mobile"><a class="text-white" href="{% url 'core:signin' %}">Login</a></li>
                        <li class="item-menu-mobile"><a class="text-white" href="{% url 'core:register' %}">SignUp</a></li>
                    </ul>
                    <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<!-- Bootstrap JS (with Popper.js for modals) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
